@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

h1,h2,h3,p {
    margin: 0;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.15px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #CBCBCB;
}

.page-wrap-header {
    background: url("./image/background-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

.wrap {
    width: 100%;
    max-width: 1167px;
    margin: 0 auto;
}